<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta http-equiv="refresh" content="3; URL='/tablas'">
  </head>
  <body class="vh-100">
    <div class="container d-flex justify-content-center align-items-center flex-column mb-3">
        <div class="row">
            <h1 class="text-danger">Error 401 no estas autorizado para usar esta funcion</h1>
        </div>
        <div class="row">
            <h2>Redirigiendo A La Pantalla De Inicio...</h2>
        </div>
        </div>
    
  </body>
</html>