<%- include('./parciales/cabecera', {"direccion": direccion}) %>

 
      </div>
    </div>
  </nav>  


    <input type="hidden" id="valor" value="<%= id %>" >
    
    <div class="container-md d-flex justify-content-center align-items-center w-50 mt-5">
        <div class="col-10 ">
            <div class="row bg-light border rounded p-3 border-primary">
                <h1>Valores a Cambiar</h1>
                <form action="" method="post">
                    <input type="text" placeholder="id_profesor" name = "id_profesor" id="id_profesor" class="form-control me-2 w-50 m-1 border-primary" required>
                    <input type="text" placeholder="id_materia" name = "id_materia" id="id_materia" class="form-control me-2 w-50 m-1 border-primary" required>
                    <input type="text" placeholder="id_seccion" name = "id_seccion" id="id_seccion" class="form-control me-2 w-50 m-1 border-primary" required>
                    <input type="text" placeholder="id_actividades" name = "id_actividades" id="id_actividades" class="form-control me-2 w-50 m-1 border-primary" required>
                    <input type="text" placeholder="id_eventos" name = "id_eventos" id="id_eventos" class="form-control me-2 w-50 m-1 border-primary" required>
                  
                    <button id="cambiar" type="submit" class="btn btn-success m-1">Cambiar</button>
                </form>
            </div>
        </div>
        
    </div>
   
<script>
    const formulario = document.querySelector( 'form' );
    formulario.addEventListener('submit',function(evento){
        event.preventDefault()
        const id_profesorInput = document.getElementById('id_profesor')
        const id_profesor = id_profesorInput.value
        const id_materiaInput = document.getElementById('id_materia')
        const id_materia = id_materiaInput.value
        const id_seccionInput = document.getElementById('id_seccion')
        const id_seccion = id_seccionInput.value
        const id_actividadesInput = document.getElementById('id_actividades')
        const id_actividades = id_actividadesInput.value
        const id_eventosInput = document.getElementById("eventos")
        const id_eventos= id_eventosInput.value
        const idElemento = document.getElementById("valor")
        const id = document.getElementById("valor")
        const datosBody = {
            id_profesor: id_profesor,
            id_materia: id_materia,
            id_seccion : id_seccion,
            id_actividades : id_actividades,
            id_eventos: id_eventos
        }
        fetch(direccion+id.value,{method : "PUT",headers : {"Content-Type" : "application/json"},body:  JSON.stringify(datosBody)})
        .then(response =>{
            if(!response.ok){
              throw new Error(`HTTP error! status: ${response.status}`);
            }else{
              location.replace('/tablas/secciones')
          } 
        })
    })
    const direccion = '/tablas/relaciones/'
          
</script>
</body>
</html>