<%- include('./parciales/cabecera', {"direccion": direccion}) %>
</div>
</div>
</nav>
<div class="container-lg ">
    <div class="row d-flex justify-content-center ">
      <div class="col">
        <table class="table table-light table-striped table-hover table-bordered text-center m-5">
          <thead class="table-secondary" >
            <tr>
              <th scope="col">Profesor</th>
              <th scope="col">Materia</th>
              <th scope="col">Seccion</th>
            </tr>
          </thead>
          <tbody>
              <% resultados.forEach(profesor_materia => { %>
                  <tr>
                      <td><%=  profesor_materia.profesor%></td>
                      <td><%=  profesor_materia.materia%></td>
                      <td><%=  profesor_materia.seccion%></td>
                    </tr>
             <% }) %>
            
          </tbody>
        </table>
      </div>
    </div>
</div>