<%- include('./parciales/cabecera', {"direccion": direccion}) %>

 
      </div>
    </div>
  </nav>  

    
    <div class="container-md d-flex justify-content-center align-items-center w-50 mt-5">
        <div class="col-10 ">
            <div class="row bg-light border rounded p-3 border-primary">
                <h1>Registrarse En El Sistema</h1>
                <form action="" method="post">
                    <input type="text" placeholder="Nombre" name = "nombre" class="form-control me-2 w-50 m-1 border-primary" required>
                    <input type="text" placeholder="Usuario" name = "user" class="form-control me-2 w-50 m-1 border-primary" required>
                    <select name="tipo" required class="form-control me-2 w-50 m-1 border-primary">
                        <option value="profesor">Profesor</option>
                        <option value="director">Director</option>
                    </select>
                    <input type="password" placeholder="Contraseña" name = "pass" class="form-control me-2 w-50 m-1 border-primary" required>

                    <button id="cambiar" type="submit" class="btn btn-success m-1">Cambiar</button>
                </form>
            </div>
        </div>
        
    </div>
   