<%- include('./parciales/cabecera', {"direccion": direccion}) %>
</div>
</div>
</nav>
<div class="container">
    <div class="col-8">
        <a href="/tablas/profesores" class="btn btn-sm btn-outline-dark">Tabla Profesores</a>
    </div>
</div>