.logoDirector{
    position: absolute;
    z-index: 1;
    left: 5vw;
    padding: .5vw;
}

.directorMain{
    display: flex;
    background: url('../assets/FondoDirector.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    height: 100vh;
}

.welcomeDirector{
    padding: 4vw;
    width: 100%;
    font-size: 36px;
}

.textLandindDirector{
    width: 100%;
}

.textLandindDirector > h1{
    font-size: 7vw;
    text-align: left;
    font-weight: 800;
}

.textLandindDirector > p{
    width: 60%;
    text-align: left;
}

.textLandindDirector > div{
    font-weight: bold;
    width: 60%;
    text-align: left;
}