.exit{
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: center;
}

.warning{
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: center;

}

@keyframes exitAnimation {
    0%{
        transform: translateY(-50vh);
    }
    100%{
        transform: translateY(0);
    }
}

.cancelButton:hover{
    background-color: #5EA9D4;
    color: white;
    transition: all .5s ease;
}

.aceptButton:hover{
    background-color: #FF0000;
    color: white;
    transition: all .5s ease;
}

.windonws{
    background-color: #262626;
    width: 40vw;
    padding: 3vw;
    border-radius:20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    animation-name: exitAnimation;
    animation-duration: .3s;

}

.textExit{
    text-align: center;
    display: flex;
    justify-content: center;
}

.textExit>p{
    width: 90%;
    font-size: 50px;
}

.buttonsExit{
    padding: 1vw .5vw;
    background-color: white;
    color: black;
    width: 40%;
    font-size: 30px;
    border-radius: 40px;
    font-weight: bold;
    width: 50%;
    border: 0;
}

.buttonsExitWindows{
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.cancel{
    display: none;
}