.formAdd{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.formGeneral{
    width: 100%;
}

.allForm{
    width: 100%;
    display: flex;
    justify-content: center;
}

.formDirectorAdd{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw;
    border-radius: 30px;
    width: 50%;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.formAsigProfesor{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw;
    border-radius: 30px;
    width: 70%;
    gap: 2vw;
    align-items: center;
    justify-content: center;

}

.inputAsig{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
}

.activities{
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
}

.divAdd{
    width: 100%;
    text-align: center;
}

.divAsing{
    display: flex;
    width: 100%;
    height: 10vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.materiaAsing, .sectionAsing{
    font-size: 30px;
    padding: .5vw;
    border-radius: 10px;
}

.nameAsing{
    font-size: 30px;
}

.notClas{
    font-size: 24px;
}

.inputAdd{
    width: 90%;
    height: 3.6vw;
    background-color: #E4F1F8;
    color: black;
    border: 0;
    outline: none;
    box-shadow: inset;
    font-size: 30px;
    padding: 1vw;
    border-radius: 20px;
}

.inputAdd::placeholder{
    color: rgba(0, 0, 0, 0.781);
}

.formAll{
    width: 100%;
    border-radius: 30px;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.logoAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;
    background-color: #E4F1F8;
    width: 30%;
    padding: 2vw;
    font-size: 1vw;
}

.submitAdd{
    background-color: #00255C;
    color: white;
    padding: 1vw .3vw;
    width: 55%;
    font-size: 1.8vw;
    border-radius: 30px;
    border: 0;
    font-weight: bold;
}