.addActivities {
    background: url('../assets/loginFondo.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.addAct{
    display: flex;
    justify-content: center ;
}

.addActSection {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.directorView {
    display: flex;
    background-color: #F4F4F4;
    align-items: center;
}

.menuSection{
    width: 50%;
}

.logoDirectorSolo{
    position: absolute;
    z-index: 1;
    left: 5vw;
    top: 0;
    padding: .5vw;
}