.formAdd{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 2vw;
    background-color: rgb(255, 255, 255);
    width: 70%;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.activities{
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
}

.inputAdd{
    width: 90%;
    height: 3vw;
    background-color: #E4F1F8;
    color: black;
    border: 0;
    outline: none;
    box-shadow: inset;
    font-size: 30px;
    padding: 1vw;
    font-weight: lighter;
    border-radius: 20px;

}

.formAll{
    width: 60%;
    border-radius: 30px;
    height: 70vh;
    display: flex;
}

.logoAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;
    background-color: #E4F1F8;
    width: 30%;
    padding: 1vw;
}

.submitAdd{
    background-color: #00255C;
    color: white;
    padding: 1vw .4vw;
    width: 50%;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold;
}