.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
}

.blue{
    background-color: #E4F1F8;
}

.link{
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
}

.active{
    background-color: black;
    color: white;
}

.link:hover{
    background-color: black;
    color: white;
    transition: all .5s ease;

}

.links{
    list-style: none;
    display: flex;
    gap: 3vw;
    padding: .9vw;
    font-size: 1.5vw;
    width: 60%;
    justify-content: end;

}

