.menu{
    width: 30%;
    background-color: #E4F1F8;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
    animation: openMenuAnimation;
    animation-duration: .3s;
}

.openMenu{
    width: 5%;
    animation: closeMenuAnimation;
    animation-duration: .3s;
}

@keyframes closeMenuAnimation {
    0%{
        width: 30%;
    } 
    100%{
        width: 5%;
    }
}

@keyframes openMenuAnimation {
    from {
        width: 5%;
    }
    to{
        width: 30%;
    }
}


.linksMenu{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1vw;
    padding: 1vw;
    align-items: center;
    font-family:  mont-Bold;
    font-weight: bolder;
}

.linksMenu > div{
    display: flex;
    gap: 2vw;
}
.btMenu{
    background: none;
    outline: none;
    border: 0;
}

.btOpen{
    padding: 1vw;
    width: 10%;
}

.activeMenu{
    background-color: #A6D0E7;
    border-left: 8px solid #00255C;
}

.closeLinks{
    display: none;
}


.linksOrder{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}