.menu{
    width: 20%;
    background-color: #E4F1F8;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100vh;
    justify-content: space-between;
    animation-name: openMenuAnimation;
    animation-duration: 1s;
}

.openMenu{
    width: 5%;
    animation-name: closeMenuAnimation;
    animation-duration: .5s;
}

@keyframes closeMenuAnimation {
    0%{
        width: 20%;
    } 
    100%{
        width: 5%;
    }
}

@keyframes openMenuAnimation {
    from {
        width: 5%;
    }
    to{
        width: 20%;
    }
}


.linksMenu{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 1vw;
    padding: 1vw;
    align-items: center;
}

.btMenu{
    background: none;
    outline: none;
    border: 0;
}

.btOpen{
    padding: 1vw;
}

.activeMenu{
    background-color: #A6D0E7;
    border-left: 8px solid #00255C;
}

.closeLinks{
    display: none;
}