.tableActivities{
    display: flex;
    justify-content: center;
    background-color: #B5D8EB;
    padding: 3vw;
}

.activitiesView{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.tableShow{
    width: 80%;
}